{% extends 'base.html.twig' %}

{% block title %}Annonces de Biens{% endblock %}

{% block body %}
<div class="container">
    <h1 class="pt-2 text-center" style="color: black">Annonces des Biens d'Île-de-France</h1>
    <hr>
    <div class="filtrage container">
        <div class="row">
            {# Filtre par Biens #}
            <div class="col-md-6">
                <h4>Filtrer par biens :</h4>
               {# Utilisez ce template pour inclure le formulaire de filtrage dans votre vue principale #}

              <form id="filtre-form" action="{{ path('annonces') }}" method="get">
                <label for="choix2">Sélectionnez par biens :</label>
                <select id="choix2" name="choix2">
                    <option value="">Tous les biens</option>
                    <option value="1">Appartements</option>
                    <option value="2">Maisons</option>
                    <option value="3">Studios</option>
                    <option value="4">HLM</option>
                    <option value="5">Villa</option>
                </select>
                <button type="submit">Rechercher</button>
            </form>

            </div>
        </div>
    </div>

    <br>

    <div class="row pt-2">
        {% for leAnnonce in lesAnnonces %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img class="mx-auto d-block w-100" style="max-height: 150px; margin: auto; display: block;" src="{{ leAnnonce.image }}" alt="Card image">

                    <h3 class="card-header" style="color: red">
                        <a href="{{ path('ficheBien', {'id': leAnnonce.id }) }}">{{ leAnnonce.type.typeBien }}</a> - {{ leAnnonce.prix }} €
                    </h3>

                    <div class="card-body">
                        <p class="card-text">{{ leAnnonce.ville }} &nbsp;&nbsp; {{ leAnnonce.cp }} </p>
                        <p class="card-text">Vendeur : {{ leAnnonce.organisme }}</p>
                        <p class="card-text">{{ leAnnonce.superficie }} km² - Nombre de pièces : {{ leAnnonce.NbPiece }} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navi text-center mt-3 mb-3">
        {# {{ knp_pagination_render(lesAnnonces) }} #}
    </div>
</div>
{% endblock %}
